* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bungee Hairline';
    flex-direction: column;
    background-color: #542F54;
    color: #D8EDCC;
    font-weight: bold;
}

.letter_color {
    color: #D8EDCC;
}

.nav_hamb {
    background-color: #542F54;
    color: #D8EDCC;
}

.logo {
    margin: 20px;
    justify-content: center;
    max-width: 150px;
    max-height: 150px;
    height: auto;
    border-radius: 15%;
    border: none;
}

img {
    border-radius: 15%;
    border: 2px solid #8A8CA1;
}

.body_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.navigation-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: auto;
    border: 2px solid #8A8CA1;
    border-radius: 25%;
}

.navigation-items:hover {
    cursor: pointer;
}

.navigation-item {
    margin: 15px;
    border: 2px solid #8A8CA1;
    border-radius: 25%;
}

.navigation-item:hover {
    background-color: #425438;
    border: 2px solid #A17A6A;
    border-radius: 25%;
    cursor: pointer;
}

li {
    display: list-item;
    text-align: center;
    color: #D8EDCC;
}



a:hover {
    color: #8A8CA1;
}

.am_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.am_pic {
    width: 100%;
    height: 100%;
}

.am_txt {
    text-align: center;
    width: 100%;
    height: 100%;
}

.am_photos {
    margin: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

#up {
    margin-left: auto;
    border: 0px solid #8A8CA1;
    border-radius: 15%;
    width: 30px;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
}

.contactli {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 30px;
}

#projects img {
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.skillss {
    display: flex;
    justify-content: center;
}

.picture-home {
    margin: 15px;
    border: 2px solid #8A8CA1;
    border-radius: 25%;
    height: 10em;
    width: 10em;
}

.bogi-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
}

.nav_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bogi-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bogi-content-grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Carousel CSS */

.crr_but {
    background-color: #542F54;
    color: #D8EDCC;
    border: 2px solid #8A8CA1;
    border-radius: 25%;
}

.crr_but:hover {
    background-color: #D8EDCC;
    color: #542F54;
    font-weight: bold;
}

.but_border {
    border: 2px solid #8A8CA1;
    border-radius: 25%;
}

.crr_txt {
    color: #542F54;
    font-weight: bold;
}