* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: 'Bungee Hairline';
    flex-direction: column;
    background-color: #542F54;
    color: #D8EDCC;
    font-weight: bold;
}

.letter_color {
    color: #D8EDCC;
}

.nav_hamb {
    background-color: #542F54;
    color: #D8EDCC;
}

.logo {
    margin: 20px;
    justify-content: center;
    max-width: 150px;
    max-height: 150px;
    height: auto;
    border-radius: 15%;
    border: none;
}

img {
    border-radius: 15%;
    border: 2px solid #8A8CA1;
    object-fit: cover;
}

.am_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.am_pic {
    width: 100%;
    height: 100%;
}

.am_txt {
    text-align: center;
    width: 100%;
    height: 100%;
}

.am_photos {
    margin: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.picture-home {
    margin: 15px;
    border: 2px solid #8A8CA1;
    border-radius: 25%;
    height: 10em;
    width: 10em;
}

.bogi-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bogi-content-grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Carousel CSS */

.crr_but {
    background-color: #542F54;
    color: #D8EDCC;
    border: 2px solid #8A8CA1;
    border-radius: 25%;
}

.crr_but:hover {
    background-color: #D8EDCC;
    color: #542F54;
    font-weight: bold;
}

.but_border {
    border: 2px solid #8A8CA1;
    border-radius: 25%;
}

.crr_txt {
    color: #542F54;
    font-weight: bold;
}

/* @media */

@media (max-width: 767px) {
    .am_container {
        grid-template-columns: 1fr;
    }
}